@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes riseAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-rise {
    animation: riseAnimation 1.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 2s ease-out forwards;
}

#root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}